@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,500,500i,700,700i,900,1000|Averia+Serif+Libre:700|Ubuntu+Mono:400');
@import url('https://solrainha.github.io/saturnicons/saturnicons.css');


.yuentracker03-2 { width:500px;margin:10px auto;font:300 13px nunito;line-height:19px;text-align:justify;color:#333; }

.yuentracker03-2-box { display:flex;flex-flow:row wrap; }
.yuentracker03-2-cont { order:2;width:calc(100% - 30px);margin:0px auto;box-shadow:0px 0px 5px rgba(0,0,0,0.2);border-radius:0px 0px 8px 8px; }

.yuentracker03-2-cont font { font:900 20px nunito;background:#fafafa;color:var(--accent);display:block;text-align:center;padding:10px;border-top:1px dashed var(--accent); }
.yuentracker03-2-cont span { position:relative;z-index:2;display:flex;box-sizing:border-box;align-items:flex-end;justify-content:center;background:var(--accent);text-transform:uppercase;font:900 15px nunito;padding:5px;border-radius:8px;color:#fafafa;margin:0px -15px;border-top:1px dashed #fafafa;border-left:15px solid var(--accent);border-right:15px solid var(--accent); }

.yuentracker03-2-cont div { overflow:hidden;display:flex;flex-flow:row nowrap;align-items:center;justify-content:flex-start;display:flex;flex-flow:row nowrap;align-items:stretch;font:13px nunito;background:#fafafa;border-top:1px dashed var(--accent); }
.yuentracker03-2-cont div:last-child { border-radius:0px 0px 8px 8px; }
.yuentracker03-2-cont yt,
.yuentracker03-2-cont div[class^="ytr"] b,
.yuentracker03-2-cont i,
.yuentracker03-2-cont s { display:flex;align-items:center;flex-flow:row wrap; }
.yuentracker03-2-cont yt { margin-left:-25px;position:relative;z-index:2;text-align:left;width:100%;box-sizing:border-box;padding:9px;justify-content:space-between;line-height:15px; }
.yuentracker03-2-cont yt a { text-decoration:none;font-weight:700;font-size:14px;border-radius:4px;color:var(--accent);padding:2px 0px;background:rgba(250,250,250,0.5); }
.yuentracker03-2-cont yt i { font-style:normal;padding:2px 0px; }
.yuentracker03-2-cont s,
.yuentracker03-2-cont s:before { content:var(--yicon);font:55px saturnicons;text-shadow:2px 2px 0px #eee; }
.yuentracker03-2-cont div[class^="ytr"] b { width:40px;padding-left:10px;justify-content:flex-start;order:-1;font-weight:bolder;font-size:18px;color:var(--accent);position:relative;z-index:2; }
.yuentracker03-2-cont div[class^="ytr"] b:after { content:"/";font-weight:1000;font-size:12px;margin-left:5px; }
.yuentracker03-2-cont s { width:0px;color:var(--accent);transform:rotateZ(16deg);transform-origin:0% 0%;position:relative;z-index:1;margin:-20px 0px;margin-left:25px;opacity:0.3;padding-top:0px; }


.yuentracker03-2-top { width:100%;display:flex;flex-flow:row wrap;justify-content:flex-end;margin-bottom:0px;font-size:0px;color:#fafafa; }
.yuentracker03-2-top naps { margin-left:10px;margin-top:calc(0px - (60px + 75px));display:inline-block;background:rgba(var(--rgb),0.5);height:calc(75px + 5px);width:calc(75px + 5px);text-align:left;border-radius:8px 8px 0px 0px; }
.yuentracker03-2-top naps:nth-child(3) { background:var(--accent); }
.yuentracker03-2-top naps i { position:relative;font-style:normal;z-index:2;font-size:40px;line-height:60px;text-align:center;display:block; }
.yuentracker03-2-top naps font { margin-top:-7px;width:80px;display:block;text-align:center;font-size:12px;font-weight:bold;color:#fafafa;text-transform:uppercase; }
.yuentracker03-2-top naps:before { width:80px;position:absolute;content:var(--yicon);font:40px saturnicons;line-height:60px;z-index:8;opacity:0.3;z-index:9;text-align:center;z-index:1; }

.yuentracker03-2-top .ytd-2-image { width:100%; }
.yuentracker03-2-top .ytd-2-image span { position:relative;z-index:2;displaly:block;font:900 30px nunito;line-height:20px;padding:20px;color:#fafafa;display:block;background:var(--accent);text-transform:uppercase;border-radius:8px 0px 8px 8px; }
.yuentracker03-2-top .ytd-2-image img { width:75px;height:75px;object-fit:cover;padding:10px;background:#fafafa;position:relative;z-index:2;margin:22px 28px;box-shadow:0px 0px 8px rgba(0,0,0,0.2); }
.yuentracker03-2-top .ytd-2-image:before { content:"\e1a9";font:50px saturnicons;-webkit-text-stroke-width:1px;-webkit-text-fill-color:var(--accent);color:#fafafa;position:absolute;z-index:3;transform:rotateZ(8deg);margin-left:20px; }

.ytd-2-active {  order:2; }
.ytd-2-inactive { order:3; }
.ytd-2-finished { order:4; }
.ytd-2-comm { order:5; }

.yuentracker03-2 { counter-reset:active; }
.yuentracker03-2-box { counter-reset:inactive; }
.yuentracker03-2-cont { counter-reset:finished; }
.yuentracker03-2-comm { counter-reset:comm; }
.ytr-comm { counter-increment:comm; }
.ytr-active { counter-increment:active; }
.ytr-inactive { counter-increment:inactive;opacity:0.5;transition:0.8s;position:relative;z-index:8; }
.ytr-inactive a,
.ytr-inactive yt { text-decoration:line-through!important; }
.ytr-inactive:hover { opacity:1; }
.ytr-finished { counter-increment:finished; }
.ytd-2-comm i:after { content:counter(comm); }
.ytd-2-active i:after { content:counter(active); }
.ytd-2-inactive i:after { content:counter(inactive); }
.ytd-2-finished i:after { content:counter(finished); }

.ytd-2-comm,.ytr-comm { --yicon:"\e234"; }
.ytd-2-active,.ytr-active { --yicon:"\e2b8"; }
.ytd-2-inactive,.ytr-inactive { --yicon:"\e200"; }
.ytd-2-finished,.ytr-finished { --yicon:"\e07c"; }
