@import url('https://fonts.googleapis.com/css?family=PT+Serif:400i|Karla:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700i,700|Quicksand:600|Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css?family=Arizonia|Concert+One|Cuprum');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,700,900,900i');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Montserrat:700');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://icons.cappuccicons.com/cpf.css');


div[class*="wtwd"] { --edelweiss:var(--edelHex);--daisy:var(--daisyHex);--carnation:var(--carnaHex);--azalea:var(--azaHex); }


.yuenwtwd { 
width:300px;box-sizing:border-box;background:#fff;margin:30px auto;text-align:justify;font:13px karla;line-height:17px;box-shadow:0px 0px 5px var(--accent);border-radius:10px;display:flex;flex-flow:row wrap;align-items:flex-start;align-content:flex-start;justify-content:flex-end;overflow:hidden; }
.yuenwtwd-notes { text-align:left;font-size:0px;width:calc(100% - 100px); }
.yuenwtwd-notes-box { margin-left:-10px; }
.yuenwtwd-notes span,
.yuenwtwd-notes a { padding:8px;padding-left:18px;margin-right:-10px;position:relative;background:var(--accent);text-transform:uppercase;font:700 12px karla;line-height:12px;display:inline-block;color:white!important;border-bottom-right-radius:10px;border-top-right-radius:10px; }
.yuenwtwd-notes a { box-shadow:inset 0px 0px 0px 20px rgba(255,255,255,var(--choice)); }
.yuenwtwd-notes span { z-index:23;text-shadow:1px 1px 0px rgba(0,0,0,0.2); }
.yuenwtwd-notes a:nth-child(2) { z-index:22;--choice:0.3; }
.yuenwtwd-notes a:nth-child(3) { z-index:21;--choice:0.5; }
.yuenwtwd-notes a:nth-child(4) { z-index:20;--choice:0.1; }
.yuenwtwd-notes a:nth-child(5) { z-index:19;--choice:0.2; }
.yuenwtwd-notes a:nth-child(6) { z-index:18;--choice:0.4; }
.yuenwtwd-icon { width:100px;text-align:right; }
.yuenwtwd-icon img { clip-path:circle(65% at 65% 35%);width:80px;height:80px;object-fit:cover;box-shadow:0px 0px 4px 10px var(--accent); }
.yuenwtwd-text { padding:30px;padding-top:20px;width:100%;box-sizing:border-box; }
.yuenwtwd-text b { color:var(--accent); }
.yuenwtwd-ooc { background:var(--accent);padding:7px 10px;color:white;font:12px karla;border-top-left-radius:10px;max-width:60%; }




.moonwtwd { 
width:100%;max-width:450px;margin:30px auto;font:13px roboto;line-height:18px;text-align:justify;color:#222;box-sizing:border-box; }
.moonwtwd-notes { display:flex;align-items:center;width:calc(100% + 15px);margin-bottom:-10px; }
.moonwtwd-notes:before { content:"";height:100px;width:100px;background:radial-gradient(circle 80px at 30px 30px, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%),var(--accent);border-radius:150px; }
.moonwtwd-notes-box { width:calc(100% - 120px);margin-left:-60px;display:flex;flex-flow:column wrap; }
.moonwtwd-notes-box span { color:#fefefe;text-shadow:0px 0px 3px var(--accent),0px 0px 3px var(--accent),0px 0px 2px var(--accent);text-transform:uppercase;font-size:21px;line-height:23px; }
.moonwtwd-notes-box font { text-transform:uppercase;font-size:10px;margin-top:5px;display:flex;flex-flow:row wrap; }
.moonwtwd-notes-box font a { border-top:2px solid var(--accent);line-height:16px;margin-right:5px;padding:0px 2px;color:#222; }
.moonwtwd-notes-box span:first-word { font-weight:bold; }
.moonwtwd-text { padding:25px;background:#f8f8f8;box-shadow:0px 0px 4px var(--accent);border-radius:25px 5px 25px 5px;margin-left:90px; }
.moonwtwd-text b { font:600 16px quicksand;color:var(--accent);line-height:17px; }
.moonwtwd-ooc { padding:10px 15px;border-radius:0px 20px 0px 0px;background:linear-gradient(40deg, var(--accent) -50%, #fefefe 130%);margin:0px 50px;border-bottom:3px solid var(--accent);margin-top:17px;display:inline-block;font-size:12px;line-height:14px;color:#333; }



.lunawtwd { width:calc(100% - 20px);max-width:450px;margin:30px auto;text-align:justify;outline:1px solid var(--accent);outline-offset:10px;border:1px solid #ddd;background:#fafafa;box-sizing:border-box;font:12px poppins;line-height:18px; }
.lunawtwd-head { border-bottom:1px solid #ddd;height:210px;background-size:cover;display:flex;flex-flow:column wrap;justify-content:space-between;align-content:center;align-items:center;width:100%; }
.lunawtwd-head font,
.lunawtwd-head span { text-align:center;color:white;background:var(--mini);text-transform:uppercase;border:1px solid var(--accent); }
.lunawtwd-head span { padding:10px 15px;font:30px chrono;border-radius:0px 0px 15px 15px;border-top:none; }
.lunawtwd-head font { font:600 10px poppins;border-radius:10px 10px 0px 0px;padding:7px 10px;border-bottom:none;letter-spacing:1px; }
.lunawtwd-tags { display:flex;flex-flow:row wrap;justify-content:center;padding:5px;margin-top:15px;margin-bottom:-15px; }
.lunawtwd-tags a { border-radius:5px;background:var(--accent);color:#eee;margin:3px;padding:5px;text-transform:uppercase;font:11px quicksand;font:13px ubuntu mono;line-height:11px; }
.lunawtwd-cont { padding:25px;color:#222; }
.lunawtwd-cont i { color:var(--accent); }
.lunawtwd-cont b { color:var(--accent);font-size:13px;line-height:18px; }
.lunawtwd-ooc { border-top:1px solid rgba(var(--rgb), 0.7);margin:25px;margin-top:5px;padding:15px 25px;color:#777; }
.lunawtwd-lyrics { border-top:1px solid #ddd;background:var(--accent);padding:10px;text-align:center;text-transform:uppercase;font-weight:bold;color:#fafafa;font:12px ubuntu mono;line-height:12px; }




.yuentimeline { margin:30px auto;width:100%;max-width:500px;box-sizing:border-box;padding:20px;text-align:justify;font:12px poppins;line-height:18px;border:1px solid #ddd;background:#fbfbfb; }

.yuentimeline-year { margin-top:15px;font:35px chrono;text-align:center;background:var(--accent) url(https://data.whicdn.com/images/348325794/original.jpg);background-size:cover;background-blend-mode:multiply;padding:17px;border-top:5px solid var(--accent);border-bottom:5px solid var(--accent); }
.yuentimeline-year:first-child { border-top:none;margin-top:0px; }
.yuentimeline-year span { mix-blend-mode:screen;background:#f8f8f8;border-radius:10px;display:inline-block;padding:2px 10px;color:var(--accent); }

.yuentimeline-month { display:inline-block;background:var(--accent);padding:5px;border-radius:5px;color:#eee;font:15px ubuntu mono;text-transform:uppercase;margin-top:15px;margin-bottom:5px; }
.yuentimeline p { list-style-type:none;margin:0px;margin-top:5px;border-left:2px solid var(--accent);background:rgba(242,242,242,0.2);padding:8px 12px;color:#222; }
.yuentimeline p b { color:var(--accent); }




.yuenbubble { width:300px;margin:30px auto;min-height:270px;display:flex;flex-flow:row wrap;align-items:center;align-content:center; }
.yuenbubble div { width:100%;display:flex;flex-flow:column wrap;align-content:flex-end;align-items:flex-end;padding:5px 0px; }
.yuenbubble div.yuenbubble-receive { align-items:flex-start;align-content:flex-start; }
.yuenbubble p { width:auto;box-sizing:border-box;background:var(--accent);margin:3px 0px;padding:8px 10px;border-radius:8px 2px 2px 8px;font:300 20px var(--mainFont);color:white;text-align:left;margin-left:35px; }
.yuenbubble p:first-child { border-top-right-radius:8px; }
.yuenbubble div.yuenbubble-receive p { border-radius:2px 8px 8px 2px;color:#222;margin-left:0px;margin-right:35px;background:#dfdfdf; }
.yuenbubble div.yuenbubble-receive p:first-child { border-top-left-radius:8px; }


.moonboard { width:clamp(300px,90vw,555px);margin:30px auto; }
.moonboard center { min-height:clamp(300px,90vw,555px);display:flex;flex-flow:row wrap;justify-content:space-between;align-content:space-between; }
.moonboard img { object-fit:cover;width:calc(clamp(100px,30vw,185px) - 5px);height:calc(clamp(100px,30vw,185px) - 5px);border-radius:7px; }
.moonboard center.moon-one { height:auto }
.moonboard center.moon-one img { margin:4px 0px; }
.moonboard img.moon-one { height:auto;width:clamp(300px,90vw,555px); }
.moonboard span { text-align:center;display:block;font:italic 20px pt serif;line-height:21px;color:var(--accent); }
.moonboard font { font:11px karla;line-height:13px;text-transform:uppercase;display:block;margin:0px clamp(20px,7vw,50px);text-align:justify;text-align-last:center; }
.moonboard font:nth-child(2) { margin-bottom:20px; }
.moonboard span:nth-last-child(2) { margin-top:20px; }







.skyfall { margin:20px auto;width:450px;overflow:hidden;border-radius:20px;background:#fdfdfd;font:14px karla;line-height:18px;text-align:justify; }
.weather { font:27px concert one;background:var(--accent);color:white;text-transform:uppercase;line-height:22px;padding:20px 60px; }
.storm { height:196px;overflow:auto;padding:0px 20px;margin:20px 0px; }
.rain { text-transform:uppercase;font:24px concert one;padding:20px; color:white;text-transform:uppercase;line-height:22px;background:var(--accent); }
.rain rd { display:block;font:13px cuprum;text-transform:uppercase;line-height:15px; }
.drop { float:left;width:140px;height:180px;object-fit:cover;border:8px solid var(--accent);margin:20px;margin-right:0px; }








.yuenrequest { width:500px;text-align:justify;box-sizing:border-box;padding:5px;background:var(--gradient);border:15px solid #f8f8f8;margin:30px auto;box-shadow:inset 0px 0px 0px 1000px rgba(248,248,248,0.5),0px 0px 10px -5px rgba(0,0,0,0.3); }
.yuenrequest-box { background:#f8f8f8;padding:20px;font:13px nunito;line-height:20px;color:#222; }

.yuenrequest-box span,
.yuenrequest-box b { background:var(--gradient);background-clip:text;-webkit-background-clip:text;color:transparent;opacity:0.7; }
.yuenrequest-box span { font:italic 900 30px nunito;display:inline-block;margin-bottom:10px; }

.yuenrequest-character { border:4px solid var(--accent);padding:15px;margin-top:30px;background:linear-gradient(180deg, #f8f8f8 10%, var(--accent) 100%);box-shadow:inset 0px 0px 0px 1000px rgba(248,248,248,0.7); }
.yuenrequest-character span { font-size:20px;text-transform:uppercase;line-height:30px;color:var(--accent);background:#f8f8f8;padding:0px 10px;margin:0px;margin-top:-33px;font-style:normal;margin-left:5px;float:left; }
.yuenrequest-character span,
.yuenrequest-character b { opacity:1; }
.yuenrequest-character b { color:var(--accent); }
.yuenrequest-character-info { background:var(--accent);float:right;margin:-18px -18px 10px 15px;border-bottom-left-radius:10px;padding:5px 10px;color:#f8f8f8;font:900 11px nunito;text-transform:uppercase; }








.darkgarden { width:470px;margin:40px auto;box-sizing:border-box;background:fixed url(http://www.grayscale-wallpapers.com/grayscale/meadow-cornflowers.jpg);background-size:cover;background-position:center;box-shadow:inset 0px 0px 0px 1000px rgba(0,0,0,0.7);color:black;color:#fcfcfc;padding:20px;text-align:justify;font:14px nunito;line-height:24px; }
.darkgarden-inner { border:1px solid #fcfcfc;padding:20px;border-bottom-width:0px;border-top-width:0px;overflow:hidden; }
.darkgarden-body { padding:20px;box-shadow:inset 0px 0px 0px 1000px rgba(0,0,0,0.7); }
.darkgarden-body b { font:700 16px playfair display;line-height:24px; }
.darkgarden-tag { display:flex;width:100%;overflow:hidden;font-size:12px;text-transform:uppercase;line-height:15px;margin-top:-7px;margin-bottom:-7px;align-items:center; }
.darkgarden-tag:before { content:"";flex-grow:1;height:0px;border-top:1px solid #fcfcfc;margin-right:5px; }
.darkgarden-tag:after { content:"";flex-grow:1;height:0px;border-top:1px solid #fcfcfc;margin-left:5px; }
.darkgarden-tag,
.darkgarden-tag a { color:white!important;font-family:playfair display;font-weight:bold; }
.darkgarden-tag b { font-size:15px; }







.moonwanted { background:white;border:1px solid #f2f2f2;box-shadow:3px 4px 0px rgba(0,0,0,0.02);padding:40px;width:350px;text-align:justify;font:13px nunito;line-height:20px;color:#222;margin:40px auto; }
.moonwanted-title { font:30px roboto mono;line-height:30px;text-align:center; }
.moonwanted-sub { font:10px roboto mono;line-height:10px;text-align:center; }
.moonwanted hr { content:"";box-shadow:none;border:none;border-top:1px solid #444;margin:20px 50px; }

.moonwanted-box { margin:10px 0px;display:flex;flex-align:row nowrap; }
.moonwanted-box-name { writing-mode:vertical-rl;transform:rotate(180deg);height:260px;box-sizing:border-box;display:block;color:white;padding:15px;font:11px roboto mono;text-transform:uppercase;line-height:6px;background:var(--accent); }
.moonwanted-box-name span,
.moonwanted-box-name a { display:block;font:700 20px montserrat!important;text-transform:lowercase;line-height:20px!important;margin-left:5px;color:white!important; }
.moonwanted-box-desc { padding:0px 10px;display:block;height:260px;overflow:auto;background:linear-gradient(120deg,transparent 0%,var(--accent) 150%); }







#azalea, #post-6 .moongazer { --a:var(--carnaHex);--b:var(--daisyHex);--c:var(--edelHex); }
#carnation, #post-7 .moongazer { --a:var(--daisyHex);--b:var(--edelHex);--c:var(--azaHex); }
#daisy, #post-9 .moongazer { --a:var(--carnaHex);--b:var(--azaHex);--c:var(--edelHex); }
#edelweiss, #post-8 .moongazer { --a:var(--azaHex);--b:var(--carnaHex);--c:var(--daisyHex); }

.moongazer .mgroup-6,
.yuenien .mgroup-6 { --accent:var(--azaHex); }
.moongazer .mgroup-7,
.yuenien .mgroup-7 { --accent:var(--carnaHex); }
.moongazer .mgroup-9,
.yuenien .mgroup-9 { --accent:var(--daisyHex); }
.moongazer .mgroup-8,
.yuenien .mgroup-8 { --accent:var(--edelHex); }

.moongazer { width:400px;margin:20px auto; }
.moongazer-head mg-date { position:absolute;z-index:2;font-size:0px;background:#fcfcfc;margin-left:300px;padding:10px;padding-top:30px;border-radius:0px 0px 10px 10px; }
.moongazer-head mg-day,
.moongazer-head mg-mon,
.moongazer-head mg-yr { display:inline-block;font:700 25px ubuntu mono;text-transform:uppercase;line-height:10px!important; }
.moongazer-head mg-day { color:var(--a); }
.moongazer-head mg-mon { color:var(--b); }
.moongazer-head mg-yr { color:var(--c); }
.moongazer-head img { position:relative;z-index:1;width:100%;object-fit:cover;min-height:200px;border-radius:15px 15px 0px 0px; }
.moongazer-post { position:relative;z-index:3;border-radius:15px;padding:20px;background:#fcfcfc;margin:-15px 0px;text-align:justify;font:14px nunito;line-height:22px; }
.moongazer-post mg-location { display:block;margin-bottom:15px;color:var(--accent);font:700 18px ubuntu mono;text-transform:uppercase;border-bottom:3px solid var(--a);width:max-content;padding-bottom:5px; }
.moongazer-post b,
.moongazer-post i { color:var(--accent); }
.moongazer-tag { background:#f5f5f5;padding:7px;padding-top:22px;border-radius:0px 0px 15px 15px;text-align:center; }
.moongazer-tag a { color:var(--accent);text-transform:uppercase;font:700 13px ubuntu mono;display:inline-block;margin:3px; }








.observatoryuen,
.observatoryuen-list { width:500px;margin:20px auto;padding:20px;border-bottom:7px solid var(--accent);background:#f8f8f8;color:#111;font:15px nunito;line-height:20px;box-sizing:border-box; }
.observatoryuen-head { height:120px; }
.observatoryuen-head img { margin-top:-20px;margin-left:-20px;height:140px;width:140px;object-fit:cover;clip-path: circle(70% at 29% 29%);float:left; }
.observatoryuen-head yn-name { display:block;border-bottom:3px solid var(--accent);margin:0px -20px;padding-left:160px;color:var(--accent);font:900 30px nunito;line-height:17px; }
.observatoryuen-head yn-name a { color:inherit;text-decoration:none; }
.observatoryuen-head yn-connect { box-sizing:border-box;height:100px;display:flex;padding:10px;align-content:center;justify-content:center;align-items:center; }
.observatoryuen-head yn-connect a { color:var(--accent)!important;font:700 12px nunito;text-transform:uppercase;margin:3px;text-decoration:none; }
.observatoryuen-head yn-connect a:before { content:"#"; }
.observatoryuen-desc { background:#efefef;padding:0px 20px;border-top:20px solid transparent;border-bottom:20px solid transparent;overflow-y:auto;max-height:260px;margin-top:20px;border-radius:15px;text-align:justify; }
.observatoryuen-desc b,
.observatoryuen-desc i { color:var(--accent); }
.observatoryuen-threads { margin-top:20px; }
.observatoryuen-threads b { display:block;color:var(--accent);font:900 15px nunito;text-transform:uppercase;margin-top:15px; }
.observatoryuen-threads b:first-child { margin-top:0px; }
.observatoryuen-threads li { list-style:inside; }
.observatoryuen-quote { margin-top:20px;text-align:center;font:italic 700 20px nunito;color:var(--accent);text-shadow:0px 0px 5px var(--accent); }

.observatoryuen-list { padding:50px;box-sizing:border-box; }
.observatoryuen-list b { display:block;width:max-content;margin:10px 0px;padding:5px 7px;background:var(--accent);color:#f8f8f8;text-transform:uppercase;border-radius:5px;font-weight:900; }
.observatoryuen-list b:first-child { margin-top:0px; }
.observatoryuen-list a { color:var(--accent);text-decoration:none; }
.observatoryuen-list li { list-style:inside; }







.aquamarin { margin:50px auto;width:500px;height:500px; }
.aquamarin-left { width:245px;height:500px;float:left; }
.aquamarin-left img { filter:grayscale(100%) brightness(80%) contrast(120%);width:100%;height:100%;object-fit:cover;position:relative;z-index:1; }
.aquamarin-left:before { content:"";display:block;height:500px;width:245px;background:var(--accent);position:absolute;z-index:2;mix-blend-mode:multiply;filter:contrast(120%); }
.aquamarin-top,
.aquamarin-bottom { width:245px;height:245px;float:right; }
.aquamarin-top { padding:10px;box-sizing:border-box;margin-bottom:10px;display:flex;flex-flow:column nowrap;color:#fff;text-align:right;text-transform:uppercase;align-items:flex-start;justify-content:flex-end;font:900 32px nunito;text-shadow:2px 2px 0px var(--accent),-1px -1px 0px var(--accent),1px -1px 0px var(--accent),1px 1px 0px var(--accent),-1px 1px 0px var(--accent);line-height:35px; }
.aquamarin-top sub { padding:0px;margin:0px;height:auto;width:auto;display:inline;font-size:20px;line-height:20px; }
.aquamarin-bottom img { width:100%;height:100%;object-fit:cover;filter:grayscale(100%) brightness(50%) contrast(120%); }












.skyuen { width:100%;max-width:500px;margin:30px auto;box-sizing:border-box;padding:40px;background:#f8f8f8;border-bottom:7px solid var(--accent); }
.skyuen b { font:900 28px nunito;color:var(--accent);display:block;text-transform:uppercase;margin-bottom:10px; }
.skyuen b:after { content:"ALREADY " counter(goals) " DONE";font-size:15px;display:block;line-height:20px;  }
.skyuen-goal { display:flex;flex-flow:column-reverse nowrap;counter-reset:goals; }
.skyuen-bar { border:1px solid var(--accent);padding:1px;height:20px;margin-top:15px;font-size:0px!important; }
.skyuen-bar a { font-size:0px!important;display:inline-block;height:20px; }
.skyuen-bar a[href*="showtopic"],
.skyuen-bar a[href*="ST"] { counter-increment:goals;background:var(--accent);width:calc(100% / var(--goal)); }









.seasonallyuen { width:350px;margin:50px auto;box-sizing:border-fox;background:#fafafa;outline:15px solid #fafafa;border:3px solid var(--accent);padding:25px;text-align:justify;font:15px nunito;line-height:20px; }
.seasonallyuen .material-symbols-rounded { position:absolute;color:var(--accent);font-size:35px;width:35px;height:35px;padding-right:5px;padding-bottom:5px;background:#fafafa;margin-top:-35px;margin-left:-35px;border-radius:0px 0px 100px 0px; }
.seasonallyuen a[class*="mgroup"] { text-transform:uppercase;font-size:12px;font-weight:bold;color:var(--accent); }

headline { display:block;text-align:center;color:var(--accent);font:900 15px nunito; }
headline:first-line { display:block;font-size:20px; }

.seasonallyuen hr { box-shadow:none;border:none;border-top:3px solid var(--accent);margin:5px 150px; }

.seasonallyuen .mgroup-6 { --accent:var(--azaHex); }
.seasonallyuen .mgroup-7 { --accent:var(--carnaHex); }
.seasonallyuen .mgroup-9 { --accent:var(--daisyHex); }
.seasonallyuen .mgroup-8 { --accent:var(--edelHex); }













.merryuen { width:500px;margin:20px auto;border-bottom:8px solid var(--accent);background:#fafafa;font:15px nunito;line-height:20px;color:#555;overflow:hidden; }

.merryuen-head { position:relative;z-index:2;display:flex;flex-flow:row nowrap;padding-left:30px;border-bottom:5px solid var(--accent);background:var(--accent);box-shadow:inset 0px 0px 0px 10000px rgba(255,255,255,0.5); }
.merryuen-head img { opacity:1;clip-path:polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);border-bottom:5px solid var(--accent);width:120px;height:120px;object-fit:cover;margin-right:-31px;margin-bottom:-5px; }

.merryuen-left { position:sticky;top:40px;width:100px;height:520px;background:#e2e2e2;float:left;text-align:right;box-sizing:border-box;padding:20px 0px; }
.merryuen-left a { display:block;text-decoration:none;font:900 15px nunito;line-height:15px;color:#fafafa;background:var(--accent);width:max-content;margin-left:auto;margin-bottom:10px;padding:8px 5px;padding-right:20px; }
.merryuen-left a:before { content:"";display:block;float:left;height:30px;width:15px;clip-path:polygon(100% 0, 0 50%, 100% 100%);margin-left:-20px;margin-top:-8px;background:var(--accent); }

.merryuen-right { scroll-behavior:smooth;position:relative;z-index:1;box-shadow:0px 0px 5px rgba(0,0,0,0.5);width:380px;height:480px;overflow-y:auto;overflow-x:hidden;padding:0px 10px;border-top:20px solid transparent;border-bottom:20px solid transparent; }
.merryuen-right my-year,
.merryuen-right my-month { display:block;font:900 25px nunito;line-height:30px;color:#fafafa;background:var(--accent);width:max-content;padding:5px;padding-left:30px;margin-bottom:10px;margin-left:-20px;text-transform:uppercase; }
.merryuen-right my-year:before,
.merryuen-right my-month:before { content:"";display:block;float:right;height:40px;width:20px;clip-path:polygon(0 0, 0% 100%, 100% 50%);margin-right:-25px;margin-top:-5px;background:var(--accent); }
.merryuen-right my-month { font:900 17px nunito;line-height:20px; }
.merryuen-right my-month:before { height:30px;width:15px;clip-path:polygon(0 0, 0% 100%, 100% 50%);margin-right:-20px;margin-top:-5px;background:var(--accent); }
.merryuen-thread { margin:15px 0px;display:flex;flex-flow:row nowrap;align-items:center;border-bottom:1px solid #ddd;padding:0px 5px;padding-bottom:10px;margin-bottom:10px; }
.merryuen-thread font { display:block;width:100%; }
.merryuen-thread a { text-decoration:none;font:700 18px nunito;line-height:20px;color:var(--accent); }
.merryuen-thread:before { content:var(--myicon);font:20px cappuccicons;height:40px;width:40px;flex-shrink:0;background:var(--accent);clip-path:polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);display:flex;align-items:center;justify-content:center;box-sizing:border-box;padding-top:3px;color:#fafafa;margin-right:10px; }
.merryuen-thread span { display:block; }

.merryuen .my-ongoing { --myicon:"\eb04"; }
.merryuen .my-complete { --myicon:"\eb03"; }
.merryuen .my-inactive { --myicon:"\e992"; }
